{# empty Twig template #}
{# empty Twig template #}
{% extends "ClientBundle::layout.html.twig" %}
{% block pagetitle %}
    <div class="page-title-container">
        <div class="container">
            <div class="page-title pull-left">
                <h2 class="entry-title">Modiffier votre Offre Personnelle</h2>
            </div>

        </div>
    </div>
{% endblock %}
{% block container %}

    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js"></script>
    <script src="{{ asset('bundles/client/js/getVilleOffre.js') }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>


    <div class="tab-container full-width-style arrow-left dashboard">
        <ul class="tabs">
            <li class="active"><a href="#first-tab" data-toggle="tab"><i class="soap-icon-anchor circle"></i>Information de base</a></li>
            <li class=""><a href="#second-tab" data-toggle="tab"><i class="soap-icon-user circle"></i>Information suplementaire</a></li>
        </ul><form method="POST"  action="{{ path('client_modifier_offre',{id:offre.idOffrep}) }}" {{ form_enctype(form) }}>
        <div class="tab-content">
            
                <div class="tab-pane fade in active" id="first-tab">
                    <label>Titre: *</label>
                    {{ form_widget(form.titre) }}
                    <br>
                    <label>Description: *</label>
                    {{ form_widget(form.description) }} 
                    <label>Date De Debut / De Fin : *</label> 
                    <div class="row form-group">

                        <div class="col-sm-6 col-sm-6" >
                            De:
                            {{ form_widget(form.dateDebut) }} 
                        </div>
                        <div class="col-sm-6 col-sm-6" >
                            Jusqu'a :
                            {{ form_widget(form.dateFin) }} 
                        </div>
                    </div>    
                </div>
                <div class="tab-pane fade" id="second-tab">
                    
                    <label>Prix: *</label>
                    {{ form_widget(form.prix) }} 
                    {{ form_widget(form.devise) }} 
                    <br>
                    
                    <label>Pays: *</label>
                    <select class="form-control m-b" name="Pays" id="Pays" style=" width: 300px;">
            <option value="0">-- Choisir Pays --</option> 
            {% for pay in Pays %}
                <option value="{{ pay.idPays }}"
                        {% if pay.idPays == paysChoisit.idPays %} selected {% endif %}
                        >{{ pay.nom }}</option>
            {% endfor %}
        </select>
                    <label id="label">Ville: *</label>
                    <div class="v">
                        <select class="form-control m-b" name="Ville" id="Ville" style=" width: 300px;">
            <option value="">-- Choisir Ville --</option> 
            {% for ville in villes %}
                <option value="{{ ville.idVille }}"
                        {% if ville.idVille == villeChoisit.idVille %} selected {% endif %}
                        >{{ ville.nom }}</option>
            {% endfor %}
        </select>
                    </div>
                    <br>
                    <label>Contact: *</label>
                    {{ form_widget(form.contact) }} 
                    <br>
                    <br>
                    {{ form(form) }}
                </div>
          
        </div>  </form>
    </div>
{% endblock %}

